---
layout: page
slide_id: 3
---


<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 text-justify conference-text">


        <div class="text-info">Submission Instructions:</div>

            Submit an Abstract : bit.ly/abstractVIBE
        <p>
        
          Talks: We want to encourage students and postdocs to present their work. As they may prefer shorter talks (10 minutes), there will be a mix of 10 and 25 minute talks.  There will also be a lightning talk session of 8-10 short talks that are each 5 minutes. These can work well when describing a resource, software package or a project that has just begun. Please submit an abstract if you wish to present a talk. 

        </p>
         <p> 
          Posters: We can accommodate posters, but please submit an abstract so we can reserve poster boards.  The Poster Size: A1 portrait (Preferred) A1 landscape or A0 portrait (acceptable). Please keep flat if possible.
        
        </p>



            {% include contact-us.html %}


    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <!--######### important dates ##########-->
        {% include card-important-dates.html %}
        <!--####################################-->
    </div>
</div>
